<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/assets/styles/home.css">
</head>

<body>

    <%- include('C:/Users/Hp/Desktop/Project/views/homepageNav.ejs') %>

    <section class="section">
        <div class="left"></div>

        <div class="mid">

            <div class="container-mid">

                <div class="user-info">

                    <div class="user-pic">

                    </div>

                    <div class="user-name">
                        <h6><%= currentUser.username %></h6>
                    </div>
                
                </div>
    

                <div class="inner-container-mid">

                    

                    <div class="photo-mid">

                        <img class="photo-mid-icon" src="/assets/images/icons/image.png" alt="">

                    </div>

                    <div class="text-mid">

                        <textarea class="text-mid-area" name="" id="" cols="15" rows="5" placeholder="Type here.."></textarea>

                    </div>

                </div>

                <button class="btn-mid">Upload</button>

            </div>

            


        </div>

        <div class="right"></div>
    </section>

</body>

</html>