.navbar {
    display: flex; /* Use flexbox to arrange icons horizontally */
    justify-content: space-around; /* Add space between icons */
    align-items: center; /* Center icons vertically */
   width:  85vw;
   margin-left: 10px;
   z-index: 10000;
}


.nav-div{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
    position: fixed;
    background-color: #0C193B; ;
    z-index: 10000;
}

.icon-link {
    /* margin-right: 20px;  */
    text-align: center;
}

.icon-link:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}

.icon-link img {
    width: 30px; /* Set the width of the icons */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

@media (max-width: 768px) {
    .icon-link img {
        width: 20px; /* Reduce the size of icons on smaller screens */
    }
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-label {
    margin-top: 5px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.icon-link img {
    width: 30px; /* Set the width of the icons */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

@media (max-width: 768px) {
    .icon-link img {
        width: 20px; /* Reduce the size of icons on smaller screens */
    }
}
