body {
    margin: 0;
    padding: 0;
}

.All-container-bgm{

    border: 2px solid pink;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 20px;
    border-radius: 10px;

}

.All-container {
    border: 2px solid pink;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #2f3f67;
    margin: 20px;
    border-radius: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details {
    flex-grow: 1;
}

.user-details h2 {
    margin: 0;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

.user-actions {
    display: flex;
}

.follow-btn,
.unfollow-btn {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #0C193B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.follow-btn:hover,
.unfollow-btn:hover {
    background-color: #FF5733;
}