/* Default styles for larger screens */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.home-form {
    height: 63vh;
    position: relative;
    bottom: 70px;
}

.section {
    display: grid;
    grid-template-columns: 25vw 49vw 25vw;
    height: 100vh;
}

.left,
.right {
    background-color: #ffffff;
    padding: 20px;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.mid {
    padding: 20px;
    grid-column: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px; /* Adjust this margin as needed */
}

.photo-mid-icon {
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
}

.text-mid-area {
    width: 100%;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}

.btn-mid {
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-mid:hover {
    background-color: #286090;
}

.post {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.post-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    margin: 0;
}

.author-name {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.post-content {
    position: relative;
}

.post-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.post-description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}
