body {
    background-color: #0C193B;
    color: #FFFFFF; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}

.jump{
    margin-top: 5%;
    text-align: center;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.signup-form {
    background-color: #FFFFFF; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 2px 8px 8px #0C193B; 
    max-width: 400px;
    width: 90%; 
    margin-top: 20%;
}

.input-signup-email,
.input-signup-username,
.input-signup-password {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F4F7F6; 
    color: #333; 
    outline: none; 
}

.signup-btn {
    background-color: #0C193B; 
    color: #FFFFFF;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
    outline: none; 
}

.signup-btn:hover {
    background-color: #FF5733; 
}

.logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px; 
    display: block; 
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; 
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    color: #0C193B; 
    text-decoration: none;
    transition: color 0.3s ease;
}

.link a:hover {
    color: #FF5733; 
}


@media only screen and (max-width: 600px) {
    .signup-form {
        padding: 30px;
        max-width: 300px;
        width: 90%;
    }

    .input-signup-email,
    .input-signup-username,
    .input-signup-password {
        padding: 12px;
        font-size: 14px;
    }

    .signup-btn {
        padding: 12px;
        font-size: 14px;
    }

    .label {
        font-size: 14px;
    }
}