
body {
    margin: 0;
    padding: 0;
   
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.wel {
    text-align: center;
    /* border: 5px solid orange; */
    width: 80vw;
}

.nav {
    width: 100vw;
    height: 14.5vh;
    background-color: #0C193B;
    box-shadow: 5px 12px 12px 5px rgb(99, 96, 96);
}

.nav-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Make the logo smaller */
.logo {
    max-width: 200px; /* Adjust the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for responsiveness */
@media only screen and (max-width: 768px) {
    .wel {
        width: 100%; /* Adjust width to fit smaller screens */
    }

    .logo {
        max-width: 150px; /* Adjust the maximum width of the logo for smaller screens */
    }
}
